*{
  -ms-overflow-style-x: none;
}
::-webkit-scrollbar {
  display: none;
}

@keyframes from-left {
  from { 
    opacity: 0;
    transform: translateX(-20px);
  }
  to { 
    opacity: 1; 
    transform: translateX(0px);
  }
}
 
.animate-fade-in {
  animation-name: from-left;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
 
@keyframes from-right {
  from { 
    opacity: 0;
    transform: translateX(20px);
    }
  to { 
    opacity: 1; 
    transform: translateX(0px);
  }
}

.animate-from-bottom {
  animation-name: from-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.font_header{
  font-family: Mulish;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.005em;
  text-align: justified;

}

.font_body{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: justified;

}

.nav_font{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;

}

.back{
  background: linear-gradient(243.88deg, #4D38CF 48.33%, #0F93A5 92.19%);

}