@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Mulish:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Rubik:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.op{
    opacity: 0.8;
}
